<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/home">Dashboard</a>
     
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/editprofile">My Profile</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('user_showbreakout')}}">Breakout <Payments> </Payments></a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('discussion')}}">Join Discussion</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('user_breakout')}}">Break Out Session</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Log Out</a>
</div>