{% extends 'admin/admin_layout.html'%}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Users</h1>
         
      </div>

    {{ users }}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">State</th>
      <th scope="col">Skill Level</th>
    </tr>
  </thead>
  <tbody>
   {#  {% for x,y,z in users %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ x.user_fname }} {{ x.user_lname}}</td>
      <td>{{ x.user_email }} </td>
      <td>{{ x.user_address }} </td>
      <td>{{ x.user_phone }} </td>
      <td>{{ y.state_name }}</td>
      <td>{{ z.skill_name }}</td>
    </tr>
    {% endfor %}
    #}
    
     

{# {% for t in users %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ t.user_fname }} {{ t.user_lname}}</td>
      <td>{{ t.user_email }} </td>
      <td>{{ t.user_address }} </td>
      <td>{{ t.user_phone }} </td>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
    </tr>
    {% endfor %}
    #}
  </tbody>
</table>
    </main>
{% endblock %}